<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dmall.ws.newdao.mapper.AppealOrderMapper" >
  <resultMap id="BaseResultMap" type="com.dmall.ws.newdao.model.AppealOrder" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="appeal_order_num" property="appealOrderNum" jdbcType="VARCHAR" />
    <result column="work_order_num" property="workOrderNum" jdbcType="VARCHAR" />
    <result column="work_order_id" property="workOrderId" jdbcType="BIGINT" />
    <result column="order_num" property="orderNum" jdbcType="VARCHAR" />
    <result column="vender_id" property="venderId" jdbcType="BIGINT" />
    <result column="vender_name" property="venderName" jdbcType="VARCHAR" />
    <result column="store_id" property="storeId" jdbcType="BIGINT" />
    <result column="store_name" property="storeName" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="appeal_type" property="appealType" jdbcType="TINYINT" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="appeal_status" property="appealStatus" jdbcType="TINYINT" />
    <result column="opinion" property="opinion" jdbcType="VARCHAR" />
    <result column="yn" property="yn" jdbcType="TINYINT" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="modified" property="modified" jdbcType="TIMESTAMP" />
    <result column="upator" property="upator" jdbcType="VARCHAR" />
    <result column="img_url1" property="imgUrl1" jdbcType="VARCHAR" />
    <result column="img_url2" property="imgUrl2" jdbcType="VARCHAR" />
    <result column="img_url3" property="imgUrl3" jdbcType="VARCHAR" />
    <result column="followup_flag" property="followupFlag" jdbcType="TINYINT" />
    <result column="work_order_type" property="workOrderType" jdbcType="TINYINT" />
    <result column="order_sale_type" property="orderSaleType" jdbcType="TINYINT" />
    <result column="upator_real_name" property="upatorRealName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Condition_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Condition_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, appeal_order_num, work_order_num, work_order_id, order_num, vender_id, vender_name, 
    store_id, store_name, department, appeal_type, content, appeal_status, opinion, yn, 
    created, creator, modified, upator, img_url1, img_url2, img_url3, followup_flag, 
    work_order_type, order_sale_type, upator_real_name
  </sql>
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.dmall.ws.newdao.model.AppealOrderCondition" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ws_appeal_order
    <if test="_parameter != null" >
      <include refid="Condition_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitOffset >= 0" >
       limit ${limitOffset} , ${limitSize}
    </if>
  </select>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ws_appeal_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteById" parameterType="java.lang.Long" >
    delete from ws_appeal_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByCondition" parameterType="com.dmall.ws.newdao.model.AppealOrderCondition" >
    delete from ws_appeal_order
    <if test="_parameter != null" >
      <include refid="Condition_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dmall.ws.newdao.model.AppealOrder" >
    insert into ws_appeal_order (id, appeal_order_num, work_order_num, 
      work_order_id, order_num, vender_id, 
      vender_name, store_id, store_name, 
      department, appeal_type, content, 
      appeal_status, opinion, yn, 
      created, creator, modified, 
      upator, img_url1, img_url2, 
      img_url3, followup_flag, work_order_type, 
      order_sale_type, upator_real_name)
    values (#{id,jdbcType=BIGINT}, #{appealOrderNum,jdbcType=VARCHAR}, #{workOrderNum,jdbcType=VARCHAR}, 
      #{workOrderId,jdbcType=BIGINT}, #{orderNum,jdbcType=VARCHAR}, #{venderId,jdbcType=BIGINT}, 
      #{venderName,jdbcType=VARCHAR}, #{storeId,jdbcType=BIGINT}, #{storeName,jdbcType=VARCHAR}, 
      #{department,jdbcType=VARCHAR}, #{appealType,jdbcType=TINYINT}, #{content,jdbcType=VARCHAR}, 
      #{appealStatus,jdbcType=TINYINT}, #{opinion,jdbcType=VARCHAR}, #{yn,jdbcType=TINYINT}, 
      #{created,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, #{modified,jdbcType=TIMESTAMP}, 
      #{upator,jdbcType=VARCHAR}, #{imgUrl1,jdbcType=VARCHAR}, #{imgUrl2,jdbcType=VARCHAR}, 
      #{imgUrl3,jdbcType=VARCHAR}, #{followupFlag,jdbcType=TINYINT}, #{workOrderType,jdbcType=TINYINT}, 
      #{orderSaleType,jdbcType=TINYINT}, #{upatorRealName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dmall.ws.newdao.model.AppealOrder" >
    insert into ws_appeal_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="appealOrderNum != null" >
        appeal_order_num,
      </if>
      <if test="workOrderNum != null" >
        work_order_num,
      </if>
      <if test="workOrderId != null" >
        work_order_id,
      </if>
      <if test="orderNum != null" >
        order_num,
      </if>
      <if test="venderId != null" >
        vender_id,
      </if>
      <if test="venderName != null" >
        vender_name,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="storeName != null" >
        store_name,
      </if>
      <if test="department != null" >
        department,
      </if>
      <if test="appealType != null" >
        appeal_type,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="appealStatus != null" >
        appeal_status,
      </if>
      <if test="opinion != null" >
        opinion,
      </if>
      <if test="yn != null" >
        yn,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="modified != null" >
        modified,
      </if>
      <if test="upator != null" >
        upator,
      </if>
      <if test="imgUrl1 != null" >
        img_url1,
      </if>
      <if test="imgUrl2 != null" >
        img_url2,
      </if>
      <if test="imgUrl3 != null" >
        img_url3,
      </if>
      <if test="followupFlag != null" >
        followup_flag,
      </if>
      <if test="workOrderType != null" >
        work_order_type,
      </if>
      <if test="orderSaleType != null" >
        order_sale_type,
      </if>
      <if test="upatorRealName != null" >
        upator_real_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="appealOrderNum != null" >
        #{appealOrderNum,jdbcType=VARCHAR},
      </if>
      <if test="workOrderNum != null" >
        #{workOrderNum,jdbcType=VARCHAR},
      </if>
      <if test="workOrderId != null" >
        #{workOrderId,jdbcType=BIGINT},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="venderId != null" >
        #{venderId,jdbcType=BIGINT},
      </if>
      <if test="venderName != null" >
        #{venderName,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=BIGINT},
      </if>
      <if test="storeName != null" >
        #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="appealType != null" >
        #{appealType,jdbcType=TINYINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="appealStatus != null" >
        #{appealStatus,jdbcType=TINYINT},
      </if>
      <if test="opinion != null" >
        #{opinion,jdbcType=VARCHAR},
      </if>
      <if test="yn != null" >
        #{yn,jdbcType=TINYINT},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modified != null" >
        #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="upator != null" >
        #{upator,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl1 != null" >
        #{imgUrl1,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl2 != null" >
        #{imgUrl2,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl3 != null" >
        #{imgUrl3,jdbcType=VARCHAR},
      </if>
      <if test="followupFlag != null" >
        #{followupFlag,jdbcType=TINYINT},
      </if>
      <if test="workOrderType != null" >
        #{workOrderType,jdbcType=TINYINT},
      </if>
      <if test="orderSaleType != null" >
        #{orderSaleType,jdbcType=TINYINT},
      </if>
      <if test="upatorRealName != null" >
        #{upatorRealName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByCondition" parameterType="com.dmall.ws.newdao.model.AppealOrderCondition" resultType="java.lang.Integer" >
    select count(*) from ws_appeal_order
    <if test="_parameter != null" >
      <include refid="Condition_Where_Clause" />
    </if>
  </select>
  <update id="updateByConditionSelective" parameterType="map" >
    update ws_appeal_order
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.appealOrderNum != null" >
        appeal_order_num = #{record.appealOrderNum,jdbcType=VARCHAR},
      </if>
      <if test="record.workOrderNum != null" >
        work_order_num = #{record.workOrderNum,jdbcType=VARCHAR},
      </if>
      <if test="record.workOrderId != null" >
        work_order_id = #{record.workOrderId,jdbcType=BIGINT},
      </if>
      <if test="record.orderNum != null" >
        order_num = #{record.orderNum,jdbcType=VARCHAR},
      </if>
      <if test="record.venderId != null" >
        vender_id = #{record.venderId,jdbcType=BIGINT},
      </if>
      <if test="record.venderName != null" >
        vender_name = #{record.venderName,jdbcType=VARCHAR},
      </if>
      <if test="record.storeId != null" >
        store_id = #{record.storeId,jdbcType=BIGINT},
      </if>
      <if test="record.storeName != null" >
        store_name = #{record.storeName,jdbcType=VARCHAR},
      </if>
      <if test="record.department != null" >
        department = #{record.department,jdbcType=VARCHAR},
      </if>
      <if test="record.appealType != null" >
        appeal_type = #{record.appealType,jdbcType=TINYINT},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.appealStatus != null" >
        appeal_status = #{record.appealStatus,jdbcType=TINYINT},
      </if>
      <if test="record.opinion != null" >
        opinion = #{record.opinion,jdbcType=VARCHAR},
      </if>
      <if test="record.yn != null" >
        yn = #{record.yn,jdbcType=TINYINT},
      </if>
      <if test="record.created != null" >
        created = #{record.created,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.modified != null" >
        modified = #{record.modified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.upator != null" >
        upator = #{record.upator,jdbcType=VARCHAR},
      </if>
      <if test="record.imgUrl1 != null" >
        img_url1 = #{record.imgUrl1,jdbcType=VARCHAR},
      </if>
      <if test="record.imgUrl2 != null" >
        img_url2 = #{record.imgUrl2,jdbcType=VARCHAR},
      </if>
      <if test="record.imgUrl3 != null" >
        img_url3 = #{record.imgUrl3,jdbcType=VARCHAR},
      </if>
      <if test="record.followupFlag != null" >
        followup_flag = #{record.followupFlag,jdbcType=TINYINT},
      </if>
      <if test="record.workOrderType != null" >
        work_order_type = #{record.workOrderType,jdbcType=TINYINT},
      </if>
      <if test="record.orderSaleType != null" >
        order_sale_type = #{record.orderSaleType,jdbcType=TINYINT},
      </if>
      <if test="record.upatorRealName != null" >
        upator_real_name = #{record.upatorRealName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Condition_Where_Clause" />
    </if>
  </update>
  <update id="updateByCondition" parameterType="map" >
    update ws_appeal_order
    set id = #{record.id,jdbcType=BIGINT},
      appeal_order_num = #{record.appealOrderNum,jdbcType=VARCHAR},
      work_order_num = #{record.workOrderNum,jdbcType=VARCHAR},
      work_order_id = #{record.workOrderId,jdbcType=BIGINT},
      order_num = #{record.orderNum,jdbcType=VARCHAR},
      vender_id = #{record.venderId,jdbcType=BIGINT},
      vender_name = #{record.venderName,jdbcType=VARCHAR},
      store_id = #{record.storeId,jdbcType=BIGINT},
      store_name = #{record.storeName,jdbcType=VARCHAR},
      department = #{record.department,jdbcType=VARCHAR},
      appeal_type = #{record.appealType,jdbcType=TINYINT},
      content = #{record.content,jdbcType=VARCHAR},
      appeal_status = #{record.appealStatus,jdbcType=TINYINT},
      opinion = #{record.opinion,jdbcType=VARCHAR},
      yn = #{record.yn,jdbcType=TINYINT},
      created = #{record.created,jdbcType=TIMESTAMP},
      creator = #{record.creator,jdbcType=VARCHAR},
      modified = #{record.modified,jdbcType=TIMESTAMP},
      upator = #{record.upator,jdbcType=VARCHAR},
      img_url1 = #{record.imgUrl1,jdbcType=VARCHAR},
      img_url2 = #{record.imgUrl2,jdbcType=VARCHAR},
      img_url3 = #{record.imgUrl3,jdbcType=VARCHAR},
      followup_flag = #{record.followupFlag,jdbcType=TINYINT},
      work_order_type = #{record.workOrderType,jdbcType=TINYINT},
      order_sale_type = #{record.orderSaleType,jdbcType=TINYINT},
      upator_real_name = #{record.upatorRealName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Condition_Where_Clause" />
    </if>
  </update>
  <update id="updateByIdSelective" parameterType="com.dmall.ws.newdao.model.AppealOrder" >
    update ws_appeal_order
    <set >
      <if test="appealOrderNum != null" >
        appeal_order_num = #{appealOrderNum,jdbcType=VARCHAR},
      </if>
      <if test="workOrderNum != null" >
        work_order_num = #{workOrderNum,jdbcType=VARCHAR},
      </if>
      <if test="workOrderId != null" >
        work_order_id = #{workOrderId,jdbcType=BIGINT},
      </if>
      <if test="orderNum != null" >
        order_num = #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="venderId != null" >
        vender_id = #{venderId,jdbcType=BIGINT},
      </if>
      <if test="venderName != null" >
        vender_name = #{venderName,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=BIGINT},
      </if>
      <if test="storeName != null" >
        store_name = #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="appealType != null" >
        appeal_type = #{appealType,jdbcType=TINYINT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="appealStatus != null" >
        appeal_status = #{appealStatus,jdbcType=TINYINT},
      </if>
      <if test="opinion != null" >
        opinion = #{opinion,jdbcType=VARCHAR},
      </if>
      <if test="yn != null" >
        yn = #{yn,jdbcType=TINYINT},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modified != null" >
        modified = #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="upator != null" >
        upator = #{upator,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl1 != null" >
        img_url1 = #{imgUrl1,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl2 != null" >
        img_url2 = #{imgUrl2,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl3 != null" >
        img_url3 = #{imgUrl3,jdbcType=VARCHAR},
      </if>
      <if test="followupFlag != null" >
        followup_flag = #{followupFlag,jdbcType=TINYINT},
      </if>
      <if test="workOrderType != null" >
        work_order_type = #{workOrderType,jdbcType=TINYINT},
      </if>
      <if test="orderSaleType != null" >
        order_sale_type = #{orderSaleType,jdbcType=TINYINT},
      </if>
      <if test="upatorRealName != null" >
        upator_real_name = #{upatorRealName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateById" parameterType="com.dmall.ws.newdao.model.AppealOrder" >
    update ws_appeal_order
    set appeal_order_num = #{appealOrderNum,jdbcType=VARCHAR},
      work_order_num = #{workOrderNum,jdbcType=VARCHAR},
      work_order_id = #{workOrderId,jdbcType=BIGINT},
      order_num = #{orderNum,jdbcType=VARCHAR},
      vender_id = #{venderId,jdbcType=BIGINT},
      vender_name = #{venderName,jdbcType=VARCHAR},
      store_id = #{storeId,jdbcType=BIGINT},
      store_name = #{storeName,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      appeal_type = #{appealType,jdbcType=TINYINT},
      content = #{content,jdbcType=VARCHAR},
      appeal_status = #{appealStatus,jdbcType=TINYINT},
      opinion = #{opinion,jdbcType=VARCHAR},
      yn = #{yn,jdbcType=TINYINT},
      created = #{created,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      modified = #{modified,jdbcType=TIMESTAMP},
      upator = #{upator,jdbcType=VARCHAR},
      img_url1 = #{imgUrl1,jdbcType=VARCHAR},
      img_url2 = #{imgUrl2,jdbcType=VARCHAR},
      img_url3 = #{imgUrl3,jdbcType=VARCHAR},
      followup_flag = #{followupFlag,jdbcType=TINYINT},
      work_order_type = #{workOrderType,jdbcType=TINYINT},
      order_sale_type = #{orderSaleType,jdbcType=TINYINT},
      upator_real_name = #{upatorRealName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>